.container {
  height: calc(100dvh - rem(60));
  padding-inline: 0;
}

.simpleGrid {
  height: 100%;
  align-items: center;
  justify-content: center;
}

.title {
  align-self: center;
}

.textInput {
  min-width: 40rem;
}

.input {
  min-width: 40rem;
}

.inputMargin {
  margin-block: 0 1.5rem;
}

.optionMargin {
  margin-block: 0 0.5rem;
}

.pill {
  max-width: 40em;
  overflow: "hidden";
  text-overflow: "ellipsis";
  white-space: "nowrap";
}

.fullButton {
  width: 100%;
}

.inputIcon {
  width: rem(18);
  height: rem(18);
  stroke: 1.5;
}